:root {
  --primary-color: #f2a800;
  --secondary-color: #fd1d54;
  --gradient-background: linear-gradient(135deg, #f2a800 0%, #fd1d54 100%);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

pre {
  margin: 0
}

p, h1, h2, h3, h4, h5, h6, ul, ol, li {
  margin-top: 0;
  padding: 0;
}

button {
  padding: 5px 30px;
  appearance: none;
  border: 0;
  background: transparent;
  color: inherit;
  font-weight: 900;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 18px;
  min-height: 50px;
  border-radius: 40px;
}